@using ChefsDishes.Models;
@model List<Chef>

<h1>Chefs | <a href="/dishes">Dishes</a> <a href="/new" class="btn btn-light">Add Chef</a></h1>
<h2> Check out our roster of Chefs! </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col"># of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Chef c in @Model)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.Age</td>
                <td>@c.CreatedDishes.Count</td>
            </tr>
        }
    </tbody>
</table>
