@model Chef
<h1>Add a Chef <a href="/" class="btn btn-light">Home</a></h1>
<form action="add" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <!-- <span asp-validation-for="FirstName"></span> -->
        <input type="text" name="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <!-- <span asp-validation-for="LastName"></span> -->
        <input type="text" name="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <!-- <span asp-validation-for="DateOfBirth"></span> -->
        <input type="date" name="DateOfBirth" class="form-control">
    </div>
    <input type="submit" value="Add Chef" class="btn btn-secondary">
</form>
<div class="text-danger" asp-validation-summary="All"></div>
